.root{
  margin:0;
  padding:0;
}

.ItemCards {
  margin: 10px;
  padding: 10px;
  text-align: left;
  display:inline-flex;
 }

 .NavBar {
  display: inline-flex;
  }


 .cartContainer {
  text-align: left;
  margin: 5;
  padding: 5;
 }